.homepage-container {
    text-align: center; 
    padding: 20px; 
}

.toDo {
    margin: 0; 
}
.homepage-buttons {
    margin: 20px;
    padding: 20px;
    display: grid;
    width: auto;
    justify-content: center;
}
.btnNavigate {
    width: auto;
    
}